{% load static %}
<html>
<head>
  <title>Permission</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <div class="container">

    <a href="/">Back</a><br>

    {% if user.is_authenticated and permission == True %}
      <a class="btn btn-primary" href="/input_category/">Input Category</a><br><br>
    {% endif %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Note</th>
      </tr>
      {%for x in category%}
        <tr>
          <td>{{x.name}}</td>
          <td>{{x.note}}</td>
        </tr>
      {%endfor%}
    </table>
  </div>
</body>
</html>
