{% load static %}
<html>
<head>
   <title>Permission</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pencatatan Izin</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/category/">Category</a>
          <li><a href="/permission/">Permission</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><p style="text-align:right;">Hello,{{ user.get_username }} <a href="/logouts/">Log out</a></p></li>
          {% else %}
            <li><p style="text-align:right;"><a href="/logins/">Login</a></p></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% block content %}
    
  {% endblock %}
  </div>

</body>
</html>
