{% extends 'permission/index.html' %}
{% block content %}
    {% if user.is_authenticated and perms.permission.add_perizinan %}
    <a class="btn btn-primary" href="/input_permission/">Input Permission</a><br><br>
    {% endif %}
    <table class="table" >
      <tr>
        <th>Employee</th>
        <th>Start</th>
        <th>End</th>
        <th>Category</th>
        {% if user.is_superuser %}<th></th>{% endif %}
      </tr>
      {% if object_list|length == 0  %}
      <tr>
        <td  colspan="5" class="text-center">Data Masih Kosong</td>
      </tr>
      {% else %}
      {%for x in object_list %}
      <tr>
        <td><a href="{% url 'detail_permission' x.id %}">{{x.employee}}</a></td>
        <td>{{x.start}}</td>
        <td>{{x.end}}</td>
        <td>{{x.category}}</td>
        {% if user.is_superuser %}
        <td>
          <a href="/update_permission/{{x.id}}" class="btn btn-default" style="float:left;">Update</a>
          <form method="post" action="/delete_permission/{{x.id}}" style="float:left; margin-left:10%;">{%csrf_token%}
            <input type="hidden" name="perizinan_id" value="{{x.id}}">
            <button type="submit" class="btn btn-default" >X</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {%endfor%}
      {% endif %}
    </table>
{% endblock %}
