{% extends 'permission/index.html' %}
{% block content %}
    {% if user.is_authenticated and perms.permission.add_perizinan %}
    <a class="btn btn-primary" href="/input_permission/">Input Permission</a><br><br>
    {% endif %}
    <table class="table" >
      <tr>
        <th>Employee</th>
        <th>Start</th>
        <th>End</th>
        <th>Category</th>
        {% if user.is_superuser %}<th></th>{% endif %}
      </tr>
      {% if object_list|length == 0  %}
      <tr>
        <td  colspan="5" class="text-center">Data Masih Kosong</td>
      </tr>
      {% else %}
      {%for x in object_list %}
      <tr>
        <td>{{x.employee}}</td>
        <td>{{x.start}}</td>
        <td>{{x.end}}</td>
        <td>{{x.category}}</td>
        {% if user.is_superuser %}
        <td><a onclick="return confirm('Are you sure you want to delete this?')" href="/delete_permission/{{x.id}}">X</a></td>
        {% endif %}
      </tr>
      {%endfor%}
      {% endif %}
    </table>
{% endblock %}
